<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mercury.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Mercury.Properties.Settings>
            <setting name="stringConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="PathForFonts" serializeAs="String">
                <value />
            </setting>
            <setting name="userEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="userPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="saveSession" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideSafeList" serializeAs="String">
                <value>False</value>
            </setting>
        </Mercury.Properties.Settings>
    </userSettings>
</configuration>
